.benefits {
  padding: 120px 0;
  position: relative;
  &::after {
    content: 'II';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(+50%);
    line-height: 1.2;
    opacity: 0.02;
    font-size: 400px;
    font-family: $font-accent;
  }
  &__container {
    max-width: 824px;
  }
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}
.benefits__item {
  flex: 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 53px;
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  &--img {
    width: 80px;
    height: 80px;
  }
  &--text {
    text-align: center;
  }
}
