.cta {
  padding: 180px 0;
  background: linear-gradient(
      180deg,
      $color-bg 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      $color-bg 90.1%
    ),
    linear-gradient(0deg, $color-bg 10%, rgba(36, 43, 51, 0.9)),
    url('./../images/cta/ctabg.jpg'), lightgray 50% / cover no-repeat;

  @include media_tablet {
    padding: 90px 0;
  }

  &__title {
    margin-bottom: 17px;
  }

  // .cta__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @include media_tablet {
      grid-template-columns: 1fr;
    }
  }

  // .cta__text

  &__text {
    line-height: 1.5;
    @include media_mobile {
      font-size: 14px;
    }
  }

  // .cta__form

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;

    @include media_mobile {
      grid-template-columns: 1fr;
      gap: 20px;

      .form__privacy {
        grid-row: 4 / 5;
      }
    }
  }
}
