.feedback {
  // .feedback__title

  &__title {
    margin-bottom: 38px;
  }

  &__form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;

    @include media_tablet {
      grid-template-columns: minmax(min-content, max-content);
      gap: 15px;
    }

    .form__privacy {
      order: -1;
      @include media_tablet {
        order: +1;
      }
    }

    @include media_tablet {
      grid-template-columns: minmax(min-content, max-content);
      gap: 15px;
    }
  }
}
