.map {
  position: relative;
  padding: 180px 0;
  @include media_tablet {
    padding: 90px 0;
  }

  &::after {
    @include decor_number('V', $side: left, $top: 22.5%, $x: -50%);
  }

  // .map__map

  &__map {
    margin-top: 88px;
    height: 358px;
    background: grey;
    @include media_tablet {
      margin-top: 44px;
    }
  }
}
