.video {
  position: relative;
  display: flex;
  justify-content: center;
  &::after {
    @include decor_number('IV', $top: 20%, $line-height: 1.2);
  }

  &__link {
    position: relative;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-bg, 0.8);
      transition: background 0.3s ease-in;
    }

    &:hover .video__icon {
      transform: translate(-50%, -50%) scale(1.1);
      filter: saturate(1.5);
    }

    &:hover::before {
      background: rgba($color-bg, 0.65);
    }
  }

  // .video__icon

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform 0.3s ease-in;
    transform: translate(-50%, -50%);
  }

  // .video__img

  &__img {
  }
}
