.footer {
  background-color: $color-footer-bg;
  padding-top: 72px;
  padding-bottom: 51px;
  font-size: 14px;
  margin-top: 180px;
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__logo {
    margin-top: -12px;
  }

  .nav__list,
  .address__list {
    flex-direction: column;
    gap: 15px;

    letter-spacing: 0.05rem;
    color: $color-text;
  }
}

.address__list {
  display: flex;
}
