.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
  padding-top: 30px;
  padding-bottom: 74px;
  background: linear-gradient(
      180deg,
      $color-bg 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      $color-bg 92.19%
    ),
    url('./../images/header/header_bg3.jpg') no-repeat top center;

  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    cursor: pointer;
    animation: slow-down 3s ease-in-out infinite;
  }
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    cursor: default;
    &:hover {
      & .header__link {
        animation-play-state: paused;
      }
    }

    @include media_tablet {
      gap: 40px;
    }
  }

  &__title {
    font-family: $font-accent;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    padding-top: 200px;
    color: $color-accent;

    @include media_tablet {
      padding-top: 100px;
      font-size: calc(38px + 0.4vw);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    &--placeholder {
      padding: 0 60px;
    }
    .contact {
      display: flex;
      align-items: center;
      font-size: 18px;
      vertical-align: middle;
      flex: 1;
      &:hover .contact__icon {
        transform: rotate(20deg);
      }
      &__icon {
        width: 21px;
        height: 21px;
        margin: 0 10px;
        transition: 0.3s;
      }
      &:first-child {
        margin-left: auto;
        justify-content: flex-end;

        @include media_tablet {
          margin-left: 0;
        }
      }
    }
    @include media_tablet {
      margin-top: 80px;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__nav {
    @include media_tablet {
      display: none;
    }
  }

  &__nav-btn {
    display: none;

    @include media_tablet {
      display: block;
    }
  }
}

@keyframes slow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
