.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
  position: relative;
  &__list {
    display: flex;
    gap: 2rem;
  }
}

.nav-overlay {
  @include media_tablet {
    overflow: hidden;
    &::before {
      content: '';
      z-index: 100;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
    }
  }
}

// .header__nav {
//   transform: translateY(-100%);
//   transition: all 0.3s ease-in;
// }

.nav-overlay {
  @include media_tablet {
    .header {
      &__nav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 101;
        padding-top: 160px;
        width: 100%;
      }
      .nav {
        font-size: 32px;
        &__list {
          align-items: center;
          row-gap: 40px;
          flex-direction: column;
        }
      }
    }
  }
}

.nav-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  margin: auto;
  width: 100px;
  z-index: 101;
  height: 100px;
  background: linear-gradient(to right, $color-text 0%, $color-text 100%);
  background-size: 50px 2px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.2s background;
  border: none;
  font-size: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 35px;
    left: 25px;
    width: 50px;
    height: 2px;
    background: $color-text;
    transition: 0.2s transform;
    transform-origin: 8px 7px;
  }
  &:after {
    top: 63px;
    transform-origin: 8px -5px;
  }

  &.button-open {
    background-size: 0px 2px;
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
