/*
font-family: 'Playfair', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

// fonts

$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair', serif;
$font-secondary: 'Roboto', sans-serif;
$font-size-default: 16px;

// colors

$color-bg: #242b33;
$color-accent: #d4c17f;
$color-text: #fff;
$color-footer-bg: #2d343c;
